@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 5px 25px;
}

.hero-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 50px;
    background-color: rgb(202, 150, 250);
    padding: 30px;
    border-radius: 25px;
    min-height: 400px;
}

.hero-left {
    background-color: rgb(84, 25, 139);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 25px;
    min-height: 300px;
}

.hero-img {
    height: 200px;
    width: auto;
    border-radius: 25px;
}

.hero-button {
    background-color: aliceblue;
    border-color: aquamarine;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container h2 {
    text-align: center;
}

.main-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card-one img {
    height: 150px;
    max-width: 225px;
    border-radius: 20px;
}

.card-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 225px;
}

.testimonial {
    background-color: rgb(78, 85, 85);
    padding: 40px 20px;
    color: rgb(217, 229, 243);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    padding: 25px 50px;
    background-color: rgb(84, 25, 139);
    border-radius: 15px;
}

.cta h4, .cta p {
    color: aliceblue;
}

.cta button {
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border-color: black;
}

footer {
    background-color: rgb(50, 54, 56);
    margin: 0;
    padding: 15px;
    color: aliceblue;
    text-align: center;
}