@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 5px 25px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

/*.hero {
    
}

.hero-left {
    
}
.hero-button {

}*/
.hero-img {
  width: 95vw; 
}



footer {
    background-color: rgb(50, 54, 56);
    margin: 0;
    padding: 15px;
    color: aliceblue;
    text-align: center;
}